<html>
    <body>
        <h1>Добавление организации</h1>
        <form action="/add" method="post">
            Название организации:<input type="text" name="organization"><br />
            Город:<input type="text" name="city"><br />
            Номер телефона:<input type="text" name="phone"><br />
            <input type="submit" value="Добавить">
        </form>
        <form action="/" method="GET">
            <button type="submit">Вернуться в главное меню</button>
        </form>
    </body>
</html>