<html>
    <body>
        <h1>Главное меню</h1>
        <form action="/list" method="get">
            <input type="submit" value="Показать телефонный справочник">
        </form>
        <form action="/add" method="get">
            <input type="submit" value="Добавить организацию">
        </form>
        <form action="/delete" method="get">
            <input type="submit" value="Удалить организацию">
        </form>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти">
        </form>
    </body>
</html>