<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>

<h1>Вход в систему</h1>

<div class="form-container">
  <form action="/login" method="post">
    <label for="login">Логин:</label>
    <input type="text" name="login" id="login" required><br />
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" required><br />
    <input type="submit" value="Войти">
  </form>

  {{ if .ErrorMsg }}
    <p class="error-message">{{ .ErrorMsg }}</p>
  {{ end }}

  <form action="/register" method="GET" style="text-align: center;">
    <button type="submit">Регистрация</button>
  </form>
</div>

</body>
</html>